Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

fix(5.1-message-animations): add missing framer-motion dependency
  bun.lock
  orchestratai_client/package.json
Labels: frontend, dependencies

fix(5.1-message-animations): resolve critical animation performance and stability issues
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
Labels: frontend

fix(5.1-message-animations): lighten document modal background for better readability
  orchestratai_client/src/components/panels/document-modal.tsx
Labels: frontend

fix(5.1-message-animations): resolve token violations and runtime errors in components
  orchestratai_client/eslint.config.mjs
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/ui/dialog.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
  orchestratai_client/tests/integration/panel-collapse.test.tsx
Labels: frontend, tests, configuration

fix(5.1-message-animations): update message-list test to use scrollTo mock
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
Labels: frontend, tests

fix(5.1-message-animations): add missing framer-motion dependency
  bun.lock
  orchestratai_client/package.json
Labels: frontend, dependencies

fix(5.1-message-animations): resolve critical animation performance and stability issues
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
Labels: frontend

fix(5.1-message-animations): adjust agent-status-badge test expectations
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

docs(5.1-message-animations): add comprehensive QA review with PASS gate
  docs/qa/gates/5.1-message-panel-animations.yml
  docs/stories/5.1.message-panel-animations.story.md
Labels: documentation

fix(5.1-message-animations): update tests for token system changes
  orchestratai_client/src/test-setup.ts
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

feat(5.1-message-animations): implement smooth animations for messages and panels
  bun.lock
  docs/stories/5.1.message-panel-animations.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
  orchestratai_client/src/components/chat/__tests__/typing-indicator.test.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/lib/__tests__/animations.test.ts
  orchestratai_client/src/lib/animations.ts
  orchestratai_client/src/test-setup.ts
  package.json
Labels: frontend, documentation, tests, dependencies

fix(5.1-message-animations): lighten document modal background for better readability
  orchestratai_client/src/components/panels/document-modal.tsx
Labels: frontend

feat(5.2-agent-card-hover): implement hover effects and skeleton loading
  docs/stories/5.2.agent-card-hover-effects.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/__tests__/agent-card-skeleton.test.tsx
  orchestratai_client/src/components/panels/__tests__/agent-card.test.tsx
  orchestratai_client/src/components/panels/__tests__/agent-panel.test.tsx
  orchestratai_client/src/components/panels/agent-card-skeleton.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/ui/__tests__/skeleton.test.tsx
  orchestratai_client/src/components/ui/skeleton.tsx
  orchestratai_client/src/hooks/__tests__/use-is-touch-device.test.ts
  orchestratai_client/src/hooks/use-is-touch-device.ts
  orchestratai_client/src/test-setup.ts
Labels: frontend, documentation, tests

docs(5.2-agent-card-hover): add comprehensive QA review with PASS gate
  docs/qa/gates/5.2-agent-card-hover-effects.yml
  docs/stories/5.2.agent-card-hover-effects.story.md
  orchestratai_client/src/components/panels/__tests__/agent-panel.test.tsx
  orchestratai_client/src/hooks/use-is-touch-device.ts
  orchestratai_client/src/test-setup.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/integration/panel-collapse.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
Labels: frontend, documentation, tests

docs(5.2-agent-card-hover): add comprehensive QA review with PASS gate
  docs/qa/gates/5.2-agent-card-hover-effects.yml
  docs/stories/5.2.agent-card-hover-effects.story.md
  orchestratai_client/src/components/panels/__tests__/agent-panel.test.tsx
  orchestratai_client/src/hooks/use-is-touch-device.ts
  orchestratai_client/src/test-setup.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/integration/panel-collapse.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
Labels: frontend, documentation, tests

feat(5.2-agent-card-hover): implement hover effects and skeleton loading
  docs/stories/5.2.agent-card-hover-effects.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/__tests__/agent-card-skeleton.test.tsx
  orchestratai_client/src/components/panels/__tests__/agent-card.test.tsx
  orchestratai_client/src/components/panels/__tests__/agent-panel.test.tsx
  orchestratai_client/src/components/panels/agent-card-skeleton.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/ui/__tests__/skeleton.test.tsx
  orchestratai_client/src/components/ui/skeleton.tsx
  orchestratai_client/src/hooks/__tests__/use-is-touch-device.test.ts
  orchestratai_client/src/hooks/use-is-touch-device.ts
  orchestratai_client/src/test-setup.ts
Labels: frontend, documentation, tests

docs(agent-integration-planning): update source tree and epic 5 story files
  docs/agent-planning/agent-feature-planning.md
  docs/architecture/source-tree.md
  docs/stories/5.3.reduced-motion-support.story.md
  docs/stories/5.4.keyboard-shortcuts-system.story.md
  docs/stories/5.5.redis-session-persistence.story.md
  docs/stories/5.6.performance-optimization.story.md
  docs/stories/5.7.virtual-scrolling-logs.story.md
Labels: documentation

docs(agent-integration-planning): update source tree and epic 5 story files
  docs/agent-planning/agent-feature-planning.md
  docs/architecture/source-tree.md
  docs/stories/5.3.reduced-motion-support.story.md
  docs/stories/5.4.keyboard-shortcuts-system.story.md
  docs/stories/5.5.redis-session-persistence.story.md
  docs/stories/5.6.performance-optimization.story.md
  docs/stories/5.7.virtual-scrolling-logs.story.md
Labels: documentation

docs(epic-7-drafts): create all 8 stories for Epic 7 Real Agent Integration
  docs/stories/7.1.llm-provider-integration.story.md
  docs/stories/7.2.vector-database-document-ingestion.story.md
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
  docs/stories/7.4.cag-agent-redis-caching.story.md
  docs/stories/7.5.hybrid-direct-agents.story.md
  docs/stories/7.6.frontend-real-data-integration.story.md
  docs/stories/7.7.e2e-testing-optimization.story.md
  docs/stories/7.8.production-deployment-monitoring.story.md
Labels: documentation

docs(epic-7-drafts): create all 8 stories for Epic 7 Real Agent Integration
  docs/stories/7.1.llm-provider-integration.story.md
  docs/stories/7.2.vector-database-document-ingestion.story.md
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
  docs/stories/7.4.cag-agent-redis-caching.story.md
  docs/stories/7.5.hybrid-direct-agents.story.md
  docs/stories/7.6.frontend-real-data-integration.story.md
  docs/stories/7.7.e2e-testing-optimization.story.md
  docs/stories/7.8.production-deployment-monitoring.story.md
Labels: documentation

feat(7.1-llm-provider): implement unified LLM provider abstraction layer
  docs/stories/7.1.llm-provider-integration.story.md
  orchestratai_api/.env.template
  orchestratai_api/pyproject.toml
  orchestratai_api/src/llm/__init__.py
  orchestratai_api/src/llm/base_provider.py
  orchestratai_api/src/llm/bedrock_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/llm/pricing.py
  orchestratai_api/src/llm/provider_factory.py
  orchestratai_api/src/llm/secrets.py
  orchestratai_api/src/llm/types.py
  orchestratai_api/tests/llm/__init__.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_openai_provider.py
  orchestratai_api/tests/llm/test_pricing.py
  orchestratai_api/tests/llm/test_provider_factory.py
  orchestratai_api/tests/llm/test_secrets.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

docs(7.1-llm-provider): update QA gate status from CONCERNS to PASS
  docs/qa/gates/7.1-llm-provider-integration.yml
  docs/stories/7.1.llm-provider-integration.story.md
  docs/stories/7.8.production-deployment-monitoring.story.md
Labels: documentation

feat(7.1-llm-provider): implement unified LLM provider abstraction layer
  docs/stories/7.1.llm-provider-integration.story.md
  orchestratai_api/.env.template
  orchestratai_api/pyproject.toml
  orchestratai_api/src/llm/__init__.py
  orchestratai_api/src/llm/base_provider.py
  orchestratai_api/src/llm/bedrock_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/llm/pricing.py
  orchestratai_api/src/llm/provider_factory.py
  orchestratai_api/src/llm/secrets.py
  orchestratai_api/src/llm/types.py
  orchestratai_api/tests/llm/__init__.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_openai_provider.py
  orchestratai_api/tests/llm/test_pricing.py
  orchestratai_api/tests/llm/test_provider_factory.py
  orchestratai_api/tests/llm/test_secrets.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

docs(7.1-llm-provider): update QA gate status from CONCERNS to PASS
  docs/qa/gates/7.1-llm-provider-integration.yml
  docs/stories/7.1.llm-provider-integration.story.md
  docs/stories/7.8.production-deployment-monitoring.story.md
Labels: documentation

fix(7.2-vector-db): resolve CORS parsing and type errors
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/data_level0.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/header.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/length.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/link_lists.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/data_level0.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/header.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/length.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/link_lists.bin
  data/chroma_db/chroma.sqlite3
  docker-compose.yml
  docs/qa/gates/7.2-vector-database-document-ingestion.yml
  docs/stories/7.2.vector-database-document-ingestion.story.md
  orchestratai_api/.env.template
  orchestratai_api/chroma_db/chroma.sqlite3
  orchestratai_api/src/config.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/storage/repository.py
  orchestratai_api/tests/retrieval/test_chroma_store.py
Labels: backend, documentation, tests

fix(7.2-vector-db): properly fix SQLAlchemy type issues
  orchestratai_api/src/storage/database.py
  orchestratai_api/src/storage/repository.py
Labels: backend

test(7.2-vector-db): add basic storage layer tests for coverage
  orchestratai_api/tests/storage/__init__.py
  orchestratai_api/tests/storage/test_database.py
Labels: backend, tests

docs(7.2-vector-db): mark story as Done after QA review
  docs/stories/7.2.vector-database-document-ingestion.story.md
Labels: documentation

fix(7.2-vector-db): resolve line length linting errors in tests
  orchestratai_api/tests/retrieval/test_chroma_store.py
Labels: backend, tests

fix(7.2-vector-db): include remaining implementation changes
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/scripts/test_chromadb.py
  orchestratai_api/src/llm/secrets.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_secrets.py
  orchestratai_api/tests/storage/test_database.py
Labels: backend, tests

fix(7.2-vector-db): remove binary database files from repository
  .gitignore
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/data_level0.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/header.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/length.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/link_lists.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/data_level0.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/header.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/length.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/link_lists.bin
  data/chroma_db/chroma.sqlite3
  orchestratai_api/chroma_db/chroma.sqlite3
Labels: backend

security(7.2-vector-db): remove hardcoded PostgreSQL credentials
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/src/storage/database.py
Labels: backend

feat(7.2-vector-db): integrate PostgreSQL credentials with 1Password
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/src/storage/database.py
Labels: backend

fix(7.2-vector-db): add ChromaDB health check to prevent race conditions
  docker-compose.yml
Labels: none

docs(7.2-vector-db): document memory limitation in ingestion script
  orchestratai_api/scripts/ingest_data.py
Labels: backend

fix(7.2-vector-db): fix session management and test assertions
  orchestratai_api/scripts/ingest_data.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
Labels: backend, tests

security(7.2-vector-db): remove hardcoded PostgreSQL credentials
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/src/storage/database.py
Labels: backend

fix(7.2-vector-db): include remaining implementation changes
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/scripts/test_chromadb.py
  orchestratai_api/src/llm/secrets.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_secrets.py
  orchestratai_api/tests/storage/test_database.py
Labels: backend, tests

fix(7.2-vector-db): add ChromaDB health check to prevent race conditions
  docker-compose.yml
Labels: none

fix(7.2-vector-db): resolve CORS parsing and type errors
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/data_level0.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/header.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/length.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/link_lists.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/data_level0.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/header.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/length.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/link_lists.bin
  data/chroma_db/chroma.sqlite3
  docker-compose.yml
  docs/qa/gates/7.2-vector-database-document-ingestion.yml
  docs/stories/7.2.vector-database-document-ingestion.story.md
  orchestratai_api/.env.template
  orchestratai_api/chroma_db/chroma.sqlite3
  orchestratai_api/src/config.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/storage/repository.py
  orchestratai_api/tests/retrieval/test_chroma_store.py
Labels: backend, documentation, tests

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
