Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'

docs(7.5-hybrid-agents): add comprehensive QA review with PASS gate
  docs/qa/gates/7.5-hybrid-direct-agents.yml
  docs/stories/7.5.hybrid-direct-agents.story.md
  orchestratai_api/src/agents/orchestrator.py
Labels: backend, documentation

fix(7.5-hybrid-agents): use assert instead of type ignore for ChatResponse validation
  orchestratai_api/src/agents/orchestrator.py
Labels: backend

fix(7.5-hybrid-agents): add type annotations to orchestrator helper functions
  orchestratai_api/src/agents/orchestrator.py
Labels: backend

docs(7.5-hybrid-agents): add comprehensive QA review with PASS gate
  docs/qa/gates/7.5-hybrid-direct-agents.yml
  docs/stories/7.5.hybrid-direct-agents.story.md
  orchestratai_api/src/agents/orchestrator.py
Labels: backend, documentation

fix(7.5-hybrid-agents): update tests for new routing logic and state fields
  orchestratai_api/tests/fallback/test_fallback_chain.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

feat(7.5-hybrid-agents): implement Hybrid and Direct agents with fallback chain
  docker-compose.yml
  docs/stories/7.5.hybrid-direct-agents.story.md
  orchestratai_api/.env.template
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/__init__.py
  orchestratai_api/src/agents/workers/direct_agent.py
  orchestratai_api/src/agents/workers/hybrid_agent.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/fallback/__init__.py
  orchestratai_api/tests/fallback/test_fallback_chain.py
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/__init__.py
  orchestratai_api/tests/hybrid/test_direct_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
  scripts/start-compose.sh
Labels: backend, documentation, tests

feat(7.6-fe-real-data-inigration): implement real-time SSE streaming and agent data integration
  docker-compose.yml
  docs/stories/7.6-manual-qa-guide.md
  docs/stories/7.6.frontend-real-data-integration.story.md
  orchestratai_api/src/llm/bedrock_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/llm/provider_factory.py
  orchestratai_api/src/main.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_openai_provider.py
  orchestratai_api/tests/llm/test_provider_factory.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_client/src/app/api/chat/stream/[stream_id]/route.ts
  orchestratai_client/src/app/api/chat/stream/initiate/route.ts
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation, tests

chore(7.6-fe-real-data-inigration): align model env config with openai
  docker-compose.yml
  orchestratai_client/package.json
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/lib/agent-models.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
  orchestratai_client/tests/unit/lib/agent-models.test.ts
  orchestratai_client/vitest.config.ts
Labels: frontend, tests, dependencies, configuration

feat(7.6-fe-real-data-inigration): implement real-time agent status updates via LangGraph streaming
  orchestratai_api/src/services/agent_service.py
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
Labels: frontend, backend

refactor(7.6-fe-real-data-inigration): split CAG node into separate billing and policy nodes
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/agents/workers/hybrid_agent.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/cag/test_cag_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_agent.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): fix routing tests for split billing/policy nodes
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): relax CAG routing log assertion
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): fix pricing test expects BILLING not POLICY
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): fix agent_status assertion for pricing test
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

refactor(7.6-fe-real-data-inigration): split CAG node into separate billing and policy nodes
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/agents/workers/hybrid_agent.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/cag/test_cag_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_agent.py
Labels: backend, tests

chore(7.6-fe-real-data-inigration): align model env config with openai
  docker-compose.yml
  orchestratai_client/package.json
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/lib/agent-models.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
  orchestratai_client/tests/unit/lib/agent-models.test.ts
  orchestratai_client/vitest.config.ts
Labels: frontend, tests, dependencies, configuration

test(7.6-fe-real-data-inigration): fix agent_status assertion for pricing test
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

feat(7.6-fe-real-data-inigration): implement real-time SSE streaming and agent data integration
  docker-compose.yml
  docs/stories/7.6-manual-qa-guide.md
  docs/stories/7.6.frontend-real-data-integration.story.md
  orchestratai_api/src/llm/bedrock_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/llm/provider_factory.py
  orchestratai_api/src/main.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
  orchestratai_api/tests/llm/test_openai_provider.py
  orchestratai_api/tests/llm/test_provider_factory.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_client/src/app/api/chat/stream/[stream_id]/route.ts
  orchestratai_client/src/app/api/chat/stream/initiate/route.ts
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation, tests

feat(7.6-fe-real-data-inigration): implement real-time agent status updates via LangGraph streaming
  orchestratai_api/src/services/agent_service.py
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
Labels: frontend, backend

test(7.6-fe-real-data-inigration): relax CAG routing log assertion
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): fix routing tests for split billing/policy nodes
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
Labels: backend, tests

test(7.6-fe-real-data-inigration): fix pricing test expects BILLING not POLICY
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

feat(bug-fixes-updates): implement real-time metrics, RAG retrieval, and UI improvements
  README.md
  orchestratai_api/scripts/ingest_to_server.py
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/retrieval/vector_store.py
  orchestratai_client/src/app/api/health/services/route.ts
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation

test(bug-fixes-updates): fix tests after UI improvements
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
Labels: frontend, tests

test(bug-fixes-updates): fix vector search malformed data test
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

test(bug-fixes-updates): fix vector search test to check lowercase unknown
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

test(bug-fixes-updates): add coverage tests to reach 80% branch coverage
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/direct_agent.py
  orchestratai_client/src/components/chat/__tests__/chat-error-boundary.test.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, backend, tests

fix(scripts): split long function signature in ingest_to_server.py
  orchestratai_api/scripts/ingest_to_server.py
Labels: backend

fix(hooks): export env vars for backend integration tests in pre-push
  .husky/pre-push
Labels: ci

fix(main): handle vector store fallbacks
  .gitignore
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/retrieval/chroma_store.py
Labels: backend

fix(types): remove unused type ignore comments and fix Settings type
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/retrieval/chroma_store.py
Labels: backend

fix(tests): use ChromaVectorStore instead of abstract VectorStore in integration tests
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, tests

fix(tests): split long lines in hybrid test
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, tests

fix(tests): skip fallback and hybrid integration tests pending embeddings interface refactor
  docs/agent-planning/agent-feature-planning.md
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, documentation, tests

docs(bug-fixes-updates): add comprehensive architecture documentation and diagrams
  README.md
  orchestratai_api/README.md
  orchestratai_client/README.md
  orchestratai_client/favicon.ico
  orchestratai_client/public/OrchestratAI.png
  orchestratai_client/public/screenshots/.gitkeep
  orchestratai_client/public/screenshots/BE-architecture.png
  orchestratai_client/public/screenshots/agent_routing.png
  orchestratai_client/public/screenshots/backend_architecture.png
  orchestratai_client/public/screenshots/cag_agent_response.png
  orchestratai_client/public/screenshots/cag_agent_response_2.png
  orchestratai_client/public/screenshots/cag_document.png
  orchestratai_client/public/screenshots/chat_interfase_flow.png
  orchestratai_client/public/screenshots/complex.png
  orchestratai_client/public/screenshots/landing_hero.png
  orchestratai_client/public/screenshots/rag_agent_response.png
  orchestratai_client/public/screenshots/rag_example.png
  orchestratai_client/public/screenshots/system_architecture.png
  orchestratai_client/src/components/layout/header.tsx
Labels: frontend, backend, documentation

fix(tests): skip fallback and hybrid integration tests pending embeddings interface refactor
  docs/agent-planning/agent-feature-planning.md
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, documentation, tests

fix(tests): split long lines in hybrid test
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, tests

test(bug-fixes-updates): fix tests after UI improvements
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
Labels: frontend, tests

fix(main): handle vector store fallbacks
  .gitignore
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/retrieval/chroma_store.py
Labels: backend

docs(bug-fixes-updates): add comprehensive architecture documentation and diagrams
  README.md
  orchestratai_api/README.md
  orchestratai_client/README.md
  orchestratai_client/favicon.ico
  orchestratai_client/public/OrchestratAI.png
  orchestratai_client/public/screenshots/.gitkeep
  orchestratai_client/public/screenshots/BE-architecture.png
  orchestratai_client/public/screenshots/agent_routing.png
  orchestratai_client/public/screenshots/backend_architecture.png
  orchestratai_client/public/screenshots/cag_agent_response.png
  orchestratai_client/public/screenshots/cag_agent_response_2.png
  orchestratai_client/public/screenshots/cag_document.png
  orchestratai_client/public/screenshots/chat_interfase_flow.png
  orchestratai_client/public/screenshots/complex.png
  orchestratai_client/public/screenshots/landing_hero.png
  orchestratai_client/public/screenshots/rag_agent_response.png
  orchestratai_client/public/screenshots/rag_example.png
  orchestratai_client/public/screenshots/system_architecture.png
  orchestratai_client/src/components/layout/header.tsx
Labels: frontend, backend, documentation
