Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

feat(1.5-enum-validation): integrate enum synchronization validation
  .github/workflows/validate-enums.yml
  .husky/pre-commit
  docs/stories/1.5.create-enum-validation-script.story.md
  package.json
Labels: documentation, ci, dependencies

qa(1.5-enum-validation): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.5-enum-validation.yml
  docs/stories/1.5.create-enum-validation-script.story.md
Labels: documentation

feat(1.6-ui-components): install shadcn/ui with design token compliance
  docs/stories/1.6.install-shadcn-ui-components.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/ui/badge.tsx
  orchestratai_client/src/components/ui/button.tsx
Labels: frontend, documentation

qa(1.6-ui-components): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.6-install-shadcn-ui-components.yml
  docs/stories/1.6.install-shadcn-ui-components.story.md
  orchestratai_client/src/app/globals.css
Labels: frontend, documentation

feat(1.6-ui-components): install shadcn/ui with design token compliance
  docs/stories/1.6.install-shadcn-ui-components.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/ui/badge.tsx
  orchestratai_client/src/components/ui/button.tsx
Labels: frontend, documentation

qa(1.6-ui-components): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.6-install-shadcn-ui-components.yml
  docs/stories/1.6.install-shadcn-ui-components.story.md
  orchestratai_client/src/app/globals.css
Labels: frontend, documentation

feat(1.7-ui-components): create desktop three-panel layout component
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
Labels: frontend, documentation, tests

qa(1.7-ui-components): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.7-create-desktop-three-panel-layout.yml
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
Labels: documentation

qa(1.7-ui-components): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.7-create-desktop-three-panel-layout.yml
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
Labels: documentation

feat(1.7-ui-components): create desktop three-panel layout component
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
Labels: frontend, documentation, tests

feat(1.8-collaps-panels): enforce 80% test coverage on pre-push
  .husky/pre-push
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  orchestratai_api/pyproject.toml
  orchestratai_client/package.json
  orchestratai_client/vitest.config.ts
  package.json
Labels: frontend, backend, documentation, ci, dependencies, configuration

docs(1.8-collaps-panels): add design token system requirements to story 1.8
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

style(1.8-collaps-panels): format secondary-foreground token for consistency
  orchestratai_client/src/app/globals.css
Labels: frontend

feat(1.8-collaps-panels): implement collapsible panel functionality with comprehensive test coverage
  orchestratai_api/tests/test_enums.py
  orchestratai_api/tests/test_schemas.py
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
  orchestratai_client/tests/unit/components/ui/badge.test.tsx
  orchestratai_client/tests/unit/components/ui/card.test.tsx
  orchestratai_client/tests/unit/components/ui/input.test.tsx
  orchestratai_client/tests/unit/components/ui/scroll-area.test.tsx
  orchestratai_client/tests/unit/lib/enums.test.ts
  orchestratai_client/tests/unit/lib/schemas.test.ts
  orchestratai_client/tests/unit/lib/types.test.ts
Labels: frontend, backend, tests

docs(1.8-collaps-panels): update story 1.8 status to ready for QA review
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

fix(1.8-collaps-panels): apply QA fixes for production reliability
  docs/qa/gates/1.8-implement-collapsible-panel-functionality.yml
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
Labels: frontend, documentation, tests

docs(1.8-collaps-panels): upgrade QA gate to PASS after verification
  docs/qa/gates/1.8-implement-collapsible-panel-functionality.yml
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

refactor(1.8-collaps-panels): apply DRY principle and improve code quality
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/hooks/index.ts
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/hooks/useLocalStorage.test.ts
Labels: frontend, tests

docs(1.8-collaps-panels): upgrade QA gate to PASS after verification
  orchestratai_client/package.json
  orchestratai_client/scripts/check-coverage.sh
Labels: frontend, dependencies

docs(1.8-collaps-panels): add design token system requirements to story 1.8
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

feat(1.8-collaps-panels): implement collapsible panel functionality with comprehensive test coverage
  orchestratai_api/tests/test_enums.py
  orchestratai_api/tests/test_schemas.py
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
  orchestratai_client/tests/unit/components/ui/badge.test.tsx
  orchestratai_client/tests/unit/components/ui/card.test.tsx
  orchestratai_client/tests/unit/components/ui/input.test.tsx
  orchestratai_client/tests/unit/components/ui/scroll-area.test.tsx
  orchestratai_client/tests/unit/lib/enums.test.ts
  orchestratai_client/tests/unit/lib/schemas.test.ts
  orchestratai_client/tests/unit/lib/types.test.ts
Labels: frontend, backend, tests

style(1.8-collaps-panels): format secondary-foreground token for consistency
  orchestratai_client/src/app/globals.css
Labels: frontend

fix(1.8-collaps-panels): apply QA fixes for production reliability
  docs/qa/gates/1.8-implement-collapsible-panel-functionality.yml
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
Labels: frontend, documentation, tests

docs(1.8-collaps-panels): upgrade QA gate to PASS after verification
  docs/qa/gates/1.8-implement-collapsible-panel-functionality.yml
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

refactor(1.8-collaps-panels): apply DRY principle and improve code quality
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/hooks/index.ts
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/hooks/useLocalStorage.test.ts
Labels: frontend, tests

docs(1.8-collaps-panels): update story 1.8 status to ready for QA review
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
Labels: documentation

docs(1.8-collaps-panels): upgrade QA gate to PASS after verification
  orchestratai_client/package.json
  orchestratai_client/scripts/check-coverage.sh
Labels: frontend, dependencies

feat(1.8-collaps-panels): enforce 80% test coverage on pre-push
  .husky/pre-push
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  orchestratai_api/pyproject.toml
  orchestratai_client/package.json
  orchestratai_client/vitest.config.ts
  package.json
Labels: frontend, backend, documentation, ci, dependencies, configuration

feat(1.9-headr-footr): implement header and footer components
  docs/stories/1.9.create-header-footer-components.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
Labels: frontend, documentation, tests

test(1.9-headr-footr): update home page tests for new layout
  orchestratai_client/__tests__/page.test.tsx
Labels: frontend, tests

refactor(1.9-headr-footr): remove localStorage from CollapsiblePanel
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/hooks/index.ts
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
  orchestratai_client/tests/unit/hooks/useLocalStorage.test.ts
Labels: frontend, tests

feat(1.9-headr-footr): add max-width constraint to app layout
  docs/qa/gates/1.9-create-header-footer-components.yml
  docs/stories/1.9.create-header-footer-components.story.md
  orchestratai_client/src/app/page.tsx
Labels: frontend, documentation

feat(1.9-headr-footr): add max-width constraint to app layout
  docs/qa/gates/1.9-create-header-footer-components.yml
  docs/stories/1.9.create-header-footer-components.story.md
  orchestratai_client/src/app/page.tsx
Labels: frontend, documentation

refactor(1.9-headr-footr): remove localStorage from CollapsiblePanel
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/hooks/index.ts
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/components/panels/collapsible-panel.test.tsx
  orchestratai_client/tests/unit/hooks/useLocalStorage.test.ts
Labels: frontend, tests

feat(1.9-headr-footr): implement header and footer components
  docs/stories/1.9.create-header-footer-components.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/hooks/useLocalStorage.ts
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
Labels: frontend, documentation, tests

test(1.9-headr-footr): update home page tests for new layout
  orchestratai_client/__tests__/page.test.tsx
Labels: frontend, tests

feat(1.10-mobile-view): implement mobile responsive tabbed layout
  bun.lock
  docs/stories/1.10.create-mobile-responsive-layout.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/components/ui/tabs.tsx
  orchestratai_client/tests/unit/components/layout/mobile-layout.test.tsx
Labels: frontend, documentation, tests, dependencies

feat(1.10-mobile-view): refine mobile responsive layout implementation
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/ui/tabs.tsx
Labels: frontend

test(1.10-mobile-view): fix page test for multiple layout panels
  orchestratai_client/__tests__/page.test.tsx
Labels: frontend, tests

docs(1.10-mobile-view): add comprehensive QA review results
  docs/qa/gates/1.10-create-mobile-responsive-layout.yml
  docs/stories/1.10.create-mobile-responsive-layout.story.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
