Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

test(1.10-mobile-view): fix page test for multiple layout panels
  orchestratai_client/__tests__/page.test.tsx
Labels: frontend, tests

feat(1.10-mobile-view): refine mobile responsive layout implementation
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/ui/tabs.tsx
Labels: frontend

feat(1.10-mobile-view): implement mobile responsive tabbed layout
  bun.lock
  docs/stories/1.10.create-mobile-responsive-layout.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/components/ui/tabs.tsx
  orchestratai_client/tests/unit/components/layout/mobile-layout.test.tsx
Labels: frontend, documentation, tests, dependencies

docs(1.10-mobile-view): add comprehensive QA review results
  docs/qa/gates/1.10-create-mobile-responsive-layout.yml
  docs/stories/1.10.create-mobile-responsive-layout.story.md
Labels: documentation

docs(epic-2-stories-draft): create all 8 user stories for Epic 2 Chat Interface
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
  docs/stories/2.2.backend-chat-endpoint.story.md
  docs/stories/2.3.frontend-api-client.story.md
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
  docs/stories/2.5.message-components.story.md
  docs/stories/2.6.message-input-area.story.md
  docs/stories/2.7.chat-provider-state-management.story.md
  docs/stories/2.8.optimistic-ui-error-handling.story.md
Labels: documentation

docs(epic-2-stories-draft): update source tree to reflect current MVP state
  docs/architecture/source-tree.md
Labels: documentation

docs(epic-2-stories-draft): create all 8 user stories for Epic 2 Chat Interface
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
  docs/stories/2.2.backend-chat-endpoint.story.md
  docs/stories/2.3.frontend-api-client.story.md
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
  docs/stories/2.5.message-components.story.md
  docs/stories/2.6.message-input-area.story.md
  docs/stories/2.7.chat-provider-state-management.story.md
  docs/stories/2.8.optimistic-ui-error-handling.story.md
Labels: documentation

docs(epic-2-stories-draft): update source tree to reflect current MVP state
  docs/architecture/source-tree.md
Labels: documentation

feat(2.1-pydamic-models): implement mock data service with routing logic
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/services/__init__.py
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, documentation, tests, dependencies

docs(2.1-pydamic-models): clarify asyncio_mode comment in pytest config
  orchestratai_api/pyproject.toml
Labels: backend, dependencies

docs(2.1): add comprehensive QA review results and quality gate
  docs/qa/gates/2.1-backend-pydantic-models-mock-service.yml
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
Labels: documentation

docs(2.1): add comprehensive QA review results and quality gate
  docs/qa/gates/2.1-backend-pydantic-models-mock-service.yml
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
Labels: documentation

docs(2.1-pydamic-models): clarify asyncio_mode comment in pytest config
  orchestratai_api/pyproject.toml
Labels: backend, dependencies

feat(2.1-pydamic-models): implement mock data service with routing logic
  docs/stories/2.1.backend-pydantic-models-mock-service.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/services/__init__.py
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, documentation, tests, dependencies

feat(2.2): implement backend chat endpoint with routing logic
  docs/stories/2.2.backend-chat-endpoint.story.md
  orchestratai_api/src/api/routes/__init__.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/main.py
  orchestratai_api/tests/test_chat_endpoint.py
Labels: backend, documentation, tests

docs(2.2-chat-enpoint): add comprehensive QA review results and quality gate
  docs/qa/gates/2.2-backend-chat-endpoint.yml
  docs/stories/2.2.backend-chat-endpoint.story.md
Labels: documentation

feat(2.2): implement backend chat endpoint with routing logic
  docs/stories/2.2.backend-chat-endpoint.story.md
  orchestratai_api/src/api/routes/__init__.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/main.py
  orchestratai_api/tests/test_chat_endpoint.py
Labels: backend, documentation, tests

docs(2.2-chat-enpoint): add comprehensive QA review results and quality gate
  docs/qa/gates/2.2-backend-chat-endpoint.yml
  docs/stories/2.2.backend-chat-endpoint.story.md
Labels: documentation

feat(2.3-api-client-fe): implement frontend API client with error handling
  docs/stories/2.3.frontend-api-client.story.md
  orchestratai_client/src/lib/__tests__/api-client.test.ts
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/api-client.ts
  orchestratai_client/src/lib/errors.ts
Labels: frontend, documentation, tests

docs(2.3-api-client-fe): add comprehensive QA review results and quality gate
  docs/qa/gates/2.3-frontend-api-client.yml
  docs/stories/2.3.frontend-api-client.story.md
Labels: documentation

feat(2.3-api-client-fe): implement frontend API client with error handling
  docs/stories/2.3.frontend-api-client.story.md
  orchestratai_client/src/lib/__tests__/api-client.test.ts
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/api-client.ts
  orchestratai_client/src/lib/errors.ts
Labels: frontend, documentation, tests

docs(2.3-api-client-fe): add comprehensive QA review results and quality gate
  docs/qa/gates/2.3-frontend-api-client.yml
  docs/stories/2.3.frontend-api-client.story.md
Labels: documentation

feat(2.4-chat-api-zod): implement chat API with Zod validation
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/api/chat.ts
  orchestratai_client/src/lib/schemas.ts
Labels: frontend, documentation, tests

docs(2.4-chat-api-zod): add comprehensive QA review and quality gate
  docs/qa/gates/2.4-chat-api-functions-zod-validation.yml
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
Labels: documentation

refactor(2.4-chat-api-zod): add timeout config and improve type safety
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/api/chat.ts
  orchestratai_client/src/lib/errors.ts
Labels: frontend, tests

feat(2.4-chat-api-zod): implement chat API with Zod validation
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/api/chat.ts
  orchestratai_client/src/lib/schemas.ts
Labels: frontend, documentation, tests

docs(2.4-chat-api-zod): add comprehensive QA review and quality gate
  docs/qa/gates/2.4-chat-api-functions-zod-validation.yml
  docs/stories/2.4.chat-api-functions-zod-validation.story.md
Labels: documentation

refactor(2.4-chat-api-zod): add timeout config and improve type safety
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/api/chat.ts
  orchestratai_client/src/lib/errors.ts
Labels: frontend, tests

feat(2.5-message-comp): implement message components with design tokens
  docs/stories/2.5.message-components.story.md
  orchestratai_client/src/components/chat/__tests__/message-bubble.test.tsx
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
  orchestratai_client/src/components/chat/__tests__/typing-indicator.test.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/types.ts
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/lib/utils/agent-colors.ts
Labels: frontend, documentation, tests

docs(2.5-message-comp): add comprehensive QA review results
  docs/qa/gates/2.5-message-components.yml
  docs/stories/2.5.message-components.story.md
Labels: documentation

docs(2.5-message-comp): add comprehensive QA review results
  docs/qa/gates/2.5-message-components.yml
  docs/stories/2.5.message-components.story.md
Labels: documentation

feat(2.5-message-comp): implement message components with design tokens
  docs/stories/2.5.message-components.story.md
  orchestratai_client/src/components/chat/__tests__/message-bubble.test.tsx
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
  orchestratai_client/src/components/chat/__tests__/typing-indicator.test.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/types.ts
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/lib/utils/agent-colors.ts
Labels: frontend, documentation, tests

feat(2.6-message-input): add message input area with send functionality
  docs/stories/2.6.message-input-area.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/input-area.test.tsx
  orchestratai_client/src/components/chat/input-area.tsx
  orchestratai_client/src/components/ui/textarea.tsx
Labels: frontend, documentation, tests

fix(2.6-message-input): correct design token violations and add QA review
  docs/qa/gates/2.6-message-input-area.yml
  docs/stories/2.5.message-components.story.md
  docs/stories/2.6.message-input-area.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/input-area.test.tsx
  orchestratai_client/src/components/chat/input-area.tsx
Labels: frontend, documentation, tests

fix(2.6-message-input): correct design token violations and add QA review
  docs/qa/gates/2.6-message-input-area.yml
  docs/stories/2.5.message-components.story.md
  docs/stories/2.6.message-input-area.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/input-area.test.tsx
  orchestratai_client/src/components/chat/input-area.tsx
Labels: frontend, documentation, tests

feat(2.6-message-input): add message input area with send functionality
  docs/stories/2.6.message-input-area.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/input-area.test.tsx
  orchestratai_client/src/components/chat/input-area.tsx
  orchestratai_client/src/components/ui/textarea.tsx
Labels: frontend, documentation, tests

feat(2.7-chat-provider): implement chat provider with full UI integration
  docs/stories/2.6.message-input-area.story.md
  docs/stories/2.7.chat-provider-state-management.story.md
  orchestratai_client/__tests__/page.test.tsx
  orchestratai_client/src/app/layout.tsx
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/lib/schemas.ts
Labels: frontend, documentation, tests

docs(2.7-chat-provider): add comprehensive QA review results
  docs/qa/gates/2.7-chat-provider-state-management.yml
  docs/stories/2.7.chat-provider-state-management.story.md
Labels: documentation

feat(2.7-chat-provider): implement chat provider with full UI integration
  docs/stories/2.6.message-input-area.story.md
  docs/stories/2.7.chat-provider-state-management.story.md
  orchestratai_client/__tests__/page.test.tsx
  orchestratai_client/src/app/layout.tsx
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/lib/schemas.ts
Labels: frontend, documentation, tests

docs(2.7-chat-provider): add comprehensive QA review results
  docs/qa/gates/2.7-chat-provider-state-management.yml
  docs/stories/2.7.chat-provider-state-management.story.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
