Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

test(7.2-vector-db): add basic storage layer tests for coverage
  orchestratai_api/tests/storage/__init__.py
  orchestratai_api/tests/storage/test_database.py
Labels: backend, tests

docs(7.2-vector-db): document memory limitation in ingestion script
  orchestratai_api/scripts/ingest_data.py
Labels: backend

fix(7.2-vector-db): fix session management and test assertions
  orchestratai_api/scripts/ingest_data.py
  orchestratai_api/tests/llm/test_bedrock_provider.py
Labels: backend, tests

fix(7.2-vector-db): resolve line length linting errors in tests
  orchestratai_api/tests/retrieval/test_chroma_store.py
Labels: backend, tests

docs(7.2-vector-db): mark story as Done after QA review
  docs/stories/7.2.vector-database-document-ingestion.story.md
Labels: documentation

fix(7.2-vector-db): properly fix SQLAlchemy type issues
  orchestratai_api/src/storage/database.py
  orchestratai_api/src/storage/repository.py
Labels: backend

fix(7.2-vector-db): remove binary database files from repository
  .gitignore
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/data_level0.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/header.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/length.bin
  data/chroma_db/5300b702-c3a7-4813-9d80-e21e098b1e4c/link_lists.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/data_level0.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/header.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/length.bin
  data/chroma_db/85f193bd-a209-4491-bfe0-27b864a8947e/link_lists.bin
  data/chroma_db/chroma.sqlite3
  orchestratai_api/chroma_db/chroma.sqlite3
Labels: backend

feat(7.2-vector-db): integrate PostgreSQL credentials with 1Password
  docker-compose.yml
  orchestratai_api/.env.template
  orchestratai_api/src/storage/database.py
Labels: backend

feat(7.3-langgraph): implement LangGraph orchestrator with RAG agent
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/agents/__init__.py
  orchestratai_api/src/agents/base.py
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/__init__.py
  orchestratai_api/src/agents/workers/rag_agent.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/orchestrator/__init__.py
  orchestratai_api/tests/orchestrator/test_analyse_query.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_api/tests/orchestrator/test_rag_agent.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

style(7.3-langgraph): fix linting and type errors in test files
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/tests/orchestrator/test_analyse_query.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_api/tests/orchestrator/test_rag_agent.py
Labels: backend, tests

fix(7.3-langgraph): resolve mypy type errors
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/services/agent_service.py
Labels: backend

chore(7.3-langgraph): remove obsolete mock-based tests
  orchestratai_api/tests/test_chat_endpoint.py
  orchestratai_api/tests/test_chat_stream_endpoint.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, tests

fix(7.3-langgraph): fix coverage and async fixture issues
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests, dependencies

test(7.3-langgraph): add tests for deprecated mock_data to meet coverage
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/test_mock_data_deprecated.py
Labels: backend, tests, dependencies

docs(7.3-langgraph): add QA review results and quality gate
  docs/qa/gates/7.3-langgraph-orchestrator-rag-agent.yml
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
Labels: documentation

test(7.3-langgraph): add tests for deprecated mock_data to meet coverage
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/test_mock_data_deprecated.py
Labels: backend, tests, dependencies

docs(7.3-langgraph): add QA review results and quality gate
  docs/qa/gates/7.3-langgraph-orchestrator-rag-agent.yml
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
Labels: documentation

feat(7.3-langgraph): implement LangGraph orchestrator with RAG agent
  docs/stories/7.3.langgraph-orchestrator-rag-agent.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/agents/__init__.py
  orchestratai_api/src/agents/base.py
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/__init__.py
  orchestratai_api/src/agents/workers/rag_agent.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/orchestrator/__init__.py
  orchestratai_api/tests/orchestrator/test_analyse_query.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_api/tests/orchestrator/test_rag_agent.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

style(7.3-langgraph): fix linting and type errors in test files
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/tests/orchestrator/test_analyse_query.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
  orchestratai_api/tests/orchestrator/test_rag_agent.py
Labels: backend, tests

fix(7.3-langgraph): fix coverage and async fixture issues
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests, dependencies

chore(7.3-langgraph): remove obsolete mock-based tests
  orchestratai_api/tests/test_chat_endpoint.py
  orchestratai_api/tests/test_chat_stream_endpoint.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, tests

fix(7.3-langgraph): resolve mypy type errors
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/services/agent_service.py
Labels: backend

feat(7.4-cag-agent): implement CAG agent with Redis semantic caching
  docs/stories/7.4.cag-agent-redis-caching.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/cache/__init__.py
  orchestratai_api/src/cache/redis_cache.py
  orchestratai_api/src/llm/base_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/cag/__init__.py
  orchestratai_api/tests/cag/test_cag_agent.py
  orchestratai_api/tests/cag/test_redis_cache.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

fix(7.4-cag-agent): add type ignore for redis.from_url mypy error
  orchestratai_api/src/cache/redis_cache.py
Labels: backend

fix(7.4-cag-agent): add mock cache to orchestrator integration tests
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

test(7.4-cag-agent): add comprehensive integration tests for CAG agent
  INTEGRATION_TESTS_ADDED.md
  docs/qa/gates/7.4-cag-agent-redis-caching.yml
  docs/stories/7.4.cag-agent-redis-caching.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/cag/README.md
  orchestratai_api/tests/cag/test_cag_integration.py
  orchestratai_api/tests/cag/test_cag_resilience.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, documentation, tests, dependencies

fix(7.4-cag-agent): use pytest_asyncio.fixture for async fixtures
  orchestratai_api/tests/cag/test_cag_integration.py
Labels: backend, tests

fix(7.4-cag-agent): skip Redis integration tests when REDIS_HOST not set
  orchestratai_api/tests/cag/README.md
  orchestratai_api/tests/cag/test_cag_integration.py
Labels: backend, documentation, tests

fix(7.4-cag-agent): add connection cleanup to prevent resource leaks
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/tests/cag/test_cag_agent.py
Labels: backend, tests

fix(7.4-cag-agent): add connection cleanup to prevent resource leaks
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/tests/cag/test_cag_agent.py
Labels: backend, tests

test(7.4-cag-agent): add comprehensive integration tests for CAG agent
  INTEGRATION_TESTS_ADDED.md
  docs/qa/gates/7.4-cag-agent-redis-caching.yml
  docs/stories/7.4.cag-agent-redis-caching.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/tests/cag/README.md
  orchestratai_api/tests/cag/test_cag_integration.py
  orchestratai_api/tests/cag/test_cag_resilience.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, documentation, tests, dependencies

fix(7.4-cag-agent): add type ignore for redis.from_url mypy error
  orchestratai_api/src/cache/redis_cache.py
Labels: backend

fix(7.4-cag-agent): use pytest_asyncio.fixture for async fixtures
  orchestratai_api/tests/cag/test_cag_integration.py
Labels: backend, tests

fix(7.4-cag-agent): skip Redis integration tests when REDIS_HOST not set
  orchestratai_api/tests/cag/README.md
  orchestratai_api/tests/cag/test_cag_integration.py
Labels: backend, documentation, tests

feat(7.4-cag-agent): implement CAG agent with Redis semantic caching
  docs/stories/7.4.cag-agent-redis-caching.story.md
  orchestratai_api/pyproject.toml
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/cache/__init__.py
  orchestratai_api/src/cache/redis_cache.py
  orchestratai_api/src/llm/base_provider.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/cag/__init__.py
  orchestratai_api/tests/cag/test_cag_agent.py
  orchestratai_api/tests/cag/test_redis_cache.py
  orchestratai_api/uv.lock
Labels: backend, documentation, tests, dependencies

fix(7.4-cag-agent): add mock cache to orchestrator integration tests
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

feat(7.5-hybrid-agents): implement Hybrid and Direct agents with fallback chain
  docker-compose.yml
  docs/stories/7.5.hybrid-direct-agents.story.md
  orchestratai_api/.env.template
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/__init__.py
  orchestratai_api/src/agents/workers/direct_agent.py
  orchestratai_api/src/agents/workers/hybrid_agent.py
  orchestratai_api/src/services/agent_service.py
  orchestratai_api/tests/fallback/__init__.py
  orchestratai_api/tests/fallback/test_fallback_chain.py
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/__init__.py
  orchestratai_api/tests/hybrid/test_direct_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_agent.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
  scripts/start-compose.sh
Labels: backend, documentation, tests

fix(7.5-hybrid-agents): add type annotations to orchestrator helper functions
  orchestratai_api/src/agents/orchestrator.py
Labels: backend

fix(7.5-hybrid-agents): use assert instead of type ignore for ChatResponse validation
  orchestratai_api/src/agents/orchestrator.py
Labels: backend

fix(7.5-hybrid-agents): update tests for new routing logic and state fields
  orchestratai_api/tests/fallback/test_fallback_chain.py
  orchestratai_api/tests/orchestrator/test_decision_logic.py
  orchestratai_api/tests/orchestrator/test_orchestrator_integration.py
Labels: backend, tests

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
