Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'

feat(3.7-document-modal): implement document preview modal with full text viewer
  bun.lock
  docs/stories/3.6.build-log-entry-components.story.md
  docs/stories/3.7.implement-document-modal.story.md
  orchestratai_client/package.json
  orchestratai_client/src/components/panels/__tests__/document-modal.test.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/ui/dialog.tsx
  orchestratai_client/tests/integration/document-modal-interaction.test.tsx
Labels: frontend, documentation, tests, dependencies

chore(3.7-document-modal): add QA review and design token system enhancement
  docs/qa/gates/3.7-implement-document-modal.yml
  docs/stories/3.7.implement-document-modal.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/document-modal.tsx
Labels: frontend, documentation

chore(3.7-document-modal): add QA review and design token system enhancement
  docs/qa/gates/3.7-implement-document-modal.yml
  docs/stories/3.7.implement-document-modal.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/document-modal.tsx
Labels: frontend, documentation

feat(3.7-document-modal): implement document preview modal with full text viewer
  bun.lock
  docs/stories/3.6.build-log-entry-components.story.md
  docs/stories/3.7.implement-document-modal.story.md
  orchestratai_client/package.json
  orchestratai_client/src/components/panels/__tests__/document-modal.test.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/ui/dialog.tsx
  orchestratai_client/tests/integration/document-modal-interaction.test.tsx
Labels: frontend, documentation, tests, dependencies

feat(stories-4-5-6-drafts): complete all Epic 4, 5, and 6 user stories
  docs/stories/4.1.build-tab-navigation.story.md
  docs/stories/4.2.implement-tab-switching-swipe.story.md
  docs/stories/4.3.create-sse-backend-endpoint.story.md
  docs/stories/4.4.build-usestreaming-hook.story.md
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
  docs/stories/4.6.error-handling-fallback.story.md
  docs/stories/5.1.message-panel-animations.story.md
  docs/stories/5.2.agent-card-hover-effects.story.md
  docs/stories/5.3.reduced-motion-support.story.md
  docs/stories/5.4.keyboard-shortcuts-system.story.md
  docs/stories/5.5.redis-session-persistence.story.md
  docs/stories/5.6.performance-optimization.story.md
  docs/stories/5.7.virtual-scrolling-logs.story.md
  docs/stories/5.8.loading-states-skeleton.story.md
  docs/stories/5.9.accessibility-enhancements.story.md
  docs/stories/6.1.professional-readme-documentation.story.md
  docs/stories/6.2.component-api-documentation.story.md
  docs/stories/6.3.demo-video-production.story.md
  docs/stories/6.4.frontend-deployment-vercel.story.md
  docs/stories/6.5.production-testing-qa.story.md
Labels: documentation

feat(stories-4-5-6-drafts): complete all Epic 4, 5, and 6 user stories
  docs/stories/4.1.build-tab-navigation.story.md
  docs/stories/4.2.implement-tab-switching-swipe.story.md
  docs/stories/4.3.create-sse-backend-endpoint.story.md
  docs/stories/4.4.build-usestreaming-hook.story.md
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
  docs/stories/4.6.error-handling-fallback.story.md
  docs/stories/5.1.message-panel-animations.story.md
  docs/stories/5.2.agent-card-hover-effects.story.md
  docs/stories/5.3.reduced-motion-support.story.md
  docs/stories/5.4.keyboard-shortcuts-system.story.md
  docs/stories/5.5.redis-session-persistence.story.md
  docs/stories/5.6.performance-optimization.story.md
  docs/stories/5.7.virtual-scrolling-logs.story.md
  docs/stories/5.8.loading-states-skeleton.story.md
  docs/stories/5.9.accessibility-enhancements.story.md
  docs/stories/6.1.professional-readme-documentation.story.md
  docs/stories/6.2.component-api-documentation.story.md
  docs/stories/6.3.demo-video-production.story.md
  docs/stories/6.4.frontend-deployment-vercel.story.md
  docs/stories/6.5.production-testing-qa.story.md
Labels: documentation

feat(4.3-sse-be-endpt): implement SSE streaming endpoint for real-time chat updates
  docs/stories/4.3.create-sse-backend-endpoint.story.md
  orchestratai_api/.env.template
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/config.py
  orchestratai_api/src/services/sse_utils.py
  orchestratai_api/tests/test_chat_stream_endpoint.py
  orchestratai_api/tests/test_sse_utils.py
Labels: backend, documentation, tests

docs(4.3-sse-be-endpt): add comprehensive QA review and quality gate for story 4.3
  docs/qa/gates/4.3-create-sse-backend-endpoint.yml
  docs/stories/4.3.create-sse-backend-endpoint.story.md
Labels: documentation

feat(4.3-sse-be-endpt): implement SSE streaming endpoint for real-time chat updates
  docs/stories/4.3.create-sse-backend-endpoint.story.md
  orchestratai_api/.env.template
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/config.py
  orchestratai_api/src/services/sse_utils.py
  orchestratai_api/tests/test_chat_stream_endpoint.py
  orchestratai_api/tests/test_sse_utils.py
Labels: backend, documentation, tests

docs(4.3-sse-be-endpt): add comprehensive QA review and quality gate for story 4.3
  docs/qa/gates/4.3-create-sse-backend-endpoint.yml
  docs/stories/4.3.create-sse-backend-endpoint.story.md
Labels: documentation

feat(4.4-useStreaming-hook): implement useStreaming custom React hook for SSE connections
  bun.lock
  docs/stories/4.4.build-usestreaming-hook.story.md
  orchestratai_client/package.json
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, documentation, tests, dependencies

docs(4.4-useStreaming-hook): add comprehensive QA review and quality gate
  docs/qa/gates/4.4-build-usestreaming-hook.yml
  docs/stories/4.4.build-usestreaming-hook.story.md
Labels: documentation

feat(4.4-security): implement two-step secure streaming with auto-reconnection
  bun.lock
  docs/SECURITY-MIGRATION-4.4.md
  orchestratai_api/src/api/routes/chat.py
  orchestratai_client/package.json
  orchestratai_client/src/app/api/chat/stream/[stream_id]/route.ts
  orchestratai_client/src/app/api/chat/stream/initiate/route.ts
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation, tests, dependencies

test(4.4): add error handling tests to improve coverage
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
Labels: frontend, tests

test(4.4): add API route tests to meet coverage threshold
  orchestratai_client/src/app/api/chat/stream/__tests__/initiate.test.ts
  orchestratai_client/src/app/api/chat/stream/__tests__/stream-by-id.test.ts
Labels: frontend, tests

fix(backend): add missing type hints for mypy
  orchestratai_api/src/api/routes/chat.py
Labels: backend

feat(4.4-security): implement two-step secure streaming with auto-reconnection
  bun.lock
  docs/SECURITY-MIGRATION-4.4.md
  orchestratai_api/src/api/routes/chat.py
  orchestratai_client/package.json
  orchestratai_client/src/app/api/chat/stream/[stream_id]/route.ts
  orchestratai_client/src/app/api/chat/stream/initiate/route.ts
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation, tests, dependencies

docs(4.4-useStreaming-hook): add comprehensive QA review and quality gate
  docs/qa/gates/4.4-build-usestreaming-hook.yml
  docs/stories/4.4.build-usestreaming-hook.story.md
Labels: documentation

test(4.4): add API route tests to meet coverage threshold
  orchestratai_client/src/app/api/chat/stream/__tests__/initiate.test.ts
  orchestratai_client/src/app/api/chat/stream/__tests__/stream-by-id.test.ts
Labels: frontend, tests

fix(backend): add missing type hints for mypy
  orchestratai_api/src/api/routes/chat.py
Labels: backend

test(4.4): add error handling tests to improve coverage
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
Labels: frontend, tests

feat(4.4-useStreaming-hook): implement useStreaming custom React hook for SSE connections
  bun.lock
  docs/stories/4.4.build-usestreaming-hook.story.md
  orchestratai_client/package.json
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, documentation, tests, dependencies

feat(4.5-integrate-chat-provider): integrate streaming into ChatProvider
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
Labels: frontend, documentation, tests

fix(4.5-integrate-chat-provider): resolve streaming state synchronization and test reliability
  orchestratai_client/src/app/api/chat/stream/__tests__/initiate.test.ts
  orchestratai_client/src/app/api/chat/stream/__tests__/stream-by-id.test.ts
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/panels/__tests__/document-modal.test.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/lib/__tests__/api-client.test.ts
Labels: frontend, tests

docs(4.5-integrate-chat-provider): add comprehensive QA review and quality gate
  docs/qa/gates/4.5-integrate-streaming-chatprovider.yml
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
Labels: documentation

docs(4.5-integrate-chat-provider): add comprehensive QA review and quality gate
  docs/qa/gates/4.5-integrate-streaming-chatprovider.yml
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
Labels: documentation

fix(4.5-integrate-chat-provider): resolve streaming state synchronization and test reliability
  orchestratai_client/src/app/api/chat/stream/__tests__/initiate.test.ts
  orchestratai_client/src/app/api/chat/stream/__tests__/stream-by-id.test.ts
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/panels/__tests__/document-modal.test.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/lib/__tests__/api-client.test.ts
Labels: frontend, tests

feat(4.5-integrate-chat-provider): integrate streaming into ChatProvider
  docs/stories/4.5.integrate-streaming-chatprovider.story.md
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
Labels: frontend, documentation, tests

feat(4.6-error-handling): implement streaming error handling and fallback
  docs/stories/4.6.error-handling-fallback.story.md
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/errors.ts
  orchestratai_client/src/lib/utils/error-messages.ts
Labels: frontend, documentation, tests

test(4.6-error-handling): update tests for fallback behavior
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
Labels: frontend, tests

docs(4.6-error-handling): add comprehensive QA review and quality gate
  docs/qa/gates/4.6-error-handling-fallback.yml
  docs/stories/4.6.error-handling-fallback.story.md
Labels: documentation

feat(4.6-error-handling): implement streaming error handling and fallback
  docs/stories/4.6.error-handling-fallback.story.md
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
  orchestratai_client/src/lib/__tests__/errors.test.ts
  orchestratai_client/src/lib/errors.ts
  orchestratai_client/src/lib/utils/error-messages.ts
Labels: frontend, documentation, tests

test(4.6-error-handling): update tests for fallback behavior
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
Labels: frontend, tests

docs(4.6-error-handling): add comprehensive QA review and quality gate
  docs/qa/gates/4.6-error-handling-fallback.yml
  docs/stories/4.6.error-handling-fallback.story.md
Labels: documentation

feat(5.1-message-animations): implement smooth animations for messages and panels
  bun.lock
  docs/stories/5.1.message-panel-animations.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
  orchestratai_client/src/components/chat/__tests__/typing-indicator.test.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/chat/typing-indicator.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/collapsible-panel.tsx
  orchestratai_client/src/lib/__tests__/animations.test.ts
  orchestratai_client/src/lib/animations.ts
  orchestratai_client/src/test-setup.ts
  package.json
Labels: frontend, documentation, tests, dependencies

fix(5.1-message-animations): resolve token violations and runtime errors in components
  orchestratai_client/eslint.config.mjs
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/ui/dialog.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
  orchestratai_client/src/hooks/__tests__/use-streaming.test.ts
  orchestratai_client/src/hooks/use-streaming.ts
  orchestratai_client/tests/integration/panel-collapse.test.tsx
Labels: frontend, tests, configuration

fix(5.1-message-animations): update message-list test to use scrollTo mock
  orchestratai_client/src/components/chat/__tests__/message-list.test.tsx
Labels: frontend, tests

fix(5.1-message-animations): update tests for token system changes
  orchestratai_client/src/test-setup.ts
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

fix(5.1-message-animations): adjust agent-status-badge test expectations
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

docs(5.1-message-animations): add comprehensive QA review with PASS gate
  docs/qa/gates/5.1-message-panel-animations.yml
  docs/stories/5.1.message-panel-animations.story.md
Labels: documentation
