Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'

feat(3.6-build-log-entry): implement retrieval log visualization components
  bun.lock
  docs/stories/3.6.build-log-entry-components.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/log-entry.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/components/ui/progress.tsx
  orchestratai_client/src/hooks/use-chat-logs.ts
Labels: frontend, documentation, tests, dependencies

fix(3.6-build-log-entry): correct ScrollArea selector in test
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

style(3.6-build-log-entry): refine badge styling with thinner borders
  docs/ux-design-tokens/component-updates-v2.md
  docs/ux-design-tokens/mockup-v2-update-summary.md
  docs/ux-design-tokens/panel-collapse-implementation.md
  docs/ux-design-tokens/phase-2-complete.md
  docs/ux-design-tokens/retrieval-panel-mockup-updates.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/colors.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/execution-graph.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/ui/badge.tsx
Labels: frontend, documentation

fix(3.6-build-log-entry): add missing return type annotations
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
Labels: frontend

style(3.6-build-log-entry): adjust idle badge text color
  orchestratai_client/src/app/globals.css
Labels: frontend

fix(3.6-build-log-entry): resolve SSR hydration and linting issues
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/execution-graph.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
Labels: frontend, tests

test(3.6-build-log-entry): update tests for component changes
  orchestratai_client/__tests__/page.test.tsx
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix metrics accumulation test assertions
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix agent-card tests for component changes
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix log component test assertions
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix remaining test failures
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix VectorSearchCard and DocumentPreview test assertions
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix AgentPanel test assertions
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix RetrievalPanel header text expectation
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): add comprehensive retrieval-panel tests
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

fix(test): add ResizeObserver mock for Radix UI tests
  orchestratai_client/src/test-setup.ts
Labels: frontend

refactor(3.6-build-log-entry): replace unsafe type assertions with runtime validation
  orchestratai_client/src/components/panels/retrieval-panel.tsx
Labels: frontend

refactor(3.6-build-log-entry): add comprehensive runtime validation for all log data types
  orchestratai_client/src/components/panels/retrieval-panel.tsx
Labels: frontend

test(3.6-build-log-entry): add malformed data validation tests
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

feat(3.6-build-log-entry): add visual hit/miss indicator to CacheOperationCard
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
Labels: frontend, tests

refactor(3.6-build-log-entry): replace unsafe type assertions with runtime validation
  orchestratai_client/src/components/panels/retrieval-panel.tsx
Labels: frontend

test(3.6-build-log-entry): update tests for component changes
  orchestratai_client/__tests__/page.test.tsx
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, tests

fix(test): add ResizeObserver mock for Radix UI tests
  orchestratai_client/src/test-setup.ts
Labels: frontend

test(3.6-build-log-entry): fix AgentPanel test assertions
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
Labels: frontend, tests

feat(3.6-build-log-entry): add visual hit/miss indicator to CacheOperationCard
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
Labels: frontend, tests

feat(3.6-build-log-entry): implement retrieval log visualization components
  bun.lock
  docs/stories/3.6.build-log-entry-components.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/log-entry.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/components/ui/progress.tsx
  orchestratai_client/src/hooks/use-chat-logs.ts
Labels: frontend, documentation, tests, dependencies

test(3.6-build-log-entry): fix metrics accumulation test assertions
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix log component test assertions
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix VectorSearchCard and DocumentPreview test assertions
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
Labels: frontend, tests

fix(3.6-build-log-entry): add missing return type annotations
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
Labels: frontend

test(3.6-build-log-entry): fix agent-card tests for component changes
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, tests

refactor(3.6-build-log-entry): add comprehensive runtime validation for all log data types
  orchestratai_client/src/components/panels/retrieval-panel.tsx
Labels: frontend

fix(3.6-build-log-entry): correct ScrollArea selector in test
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): fix remaining test failures
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): add comprehensive retrieval-panel tests
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

style(3.6-build-log-entry): adjust idle badge text color
  orchestratai_client/src/app/globals.css
Labels: frontend

test(3.6-build-log-entry): fix RetrievalPanel header text expectation
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

test(3.6-build-log-entry): add malformed data validation tests
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

style(3.6-build-log-entry): refine badge styling with thinner borders
  docs/ux-design-tokens/component-updates-v2.md
  docs/ux-design-tokens/mockup-v2-update-summary.md
  docs/ux-design-tokens/panel-collapse-implementation.md
  docs/ux-design-tokens/phase-2-complete.md
  docs/ux-design-tokens/retrieval-panel-mockup-updates.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/colors.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/execution-graph.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
  orchestratai_client/src/components/ui/badge.tsx
Labels: frontend, documentation

fix(3.6-build-log-entry): resolve SSR hydration and linting issues
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/layout/three-panel-layout.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/execution-graph.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/panels/vector-search-card.tsx
Labels: frontend, tests
