Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

test(bug-fixes-updates): add coverage tests to reach 80% branch coverage
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/direct_agent.py
  orchestratai_client/src/components/chat/__tests__/chat-error-boundary.test.tsx
  orchestratai_client/src/components/panels/__tests__/log-components.test.tsx
  orchestratai_client/tests/unit/components/layout/footer.test.tsx
  orchestratai_client/tests/unit/components/layout/header.test.tsx
  orchestratai_client/tests/unit/components/layout/three-panel-layout.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, backend, tests

test(bug-fixes-updates): fix vector search test to check lowercase unknown
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

fix(hooks): export env vars for backend integration tests in pre-push
  .husky/pre-push
Labels: ci

test(bug-fixes-updates): fix vector search malformed data test
  orchestratai_client/src/components/panels/__tests__/retrieval-panel.test.tsx
Labels: frontend, tests

fix(types): remove unused type ignore comments and fix Settings type
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/retrieval/chroma_store.py
Labels: backend

fix(tests): use ChromaVectorStore instead of abstract VectorStore in integration tests
  orchestratai_api/tests/fallback/test_fallback_integration.py
  orchestratai_api/tests/hybrid/test_hybrid_integration.py
Labels: backend, tests

fix(scripts): split long function signature in ingest_to_server.py
  orchestratai_api/scripts/ingest_to_server.py
Labels: backend

feat(bug-fixes-updates): implement real-time metrics, RAG retrieval, and UI improvements
  README.md
  orchestratai_api/scripts/ingest_to_server.py
  orchestratai_api/src/agents/orchestrator.py
  orchestratai_api/src/agents/workers/cag_agent.py
  orchestratai_api/src/api/routes/chat.py
  orchestratai_api/src/llm/openai_provider.py
  orchestratai_api/src/retrieval/chroma_store.py
  orchestratai_api/src/retrieval/vector_store.py
  orchestratai_client/src/app/api/health/services/route.ts
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/message-bubble.tsx
  orchestratai_client/src/components/chat/message-list.tsx
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/panels/cache-operation-card.tsx
  orchestratai_client/src/components/panels/document-modal.tsx
  orchestratai_client/src/components/panels/document-preview.tsx
  orchestratai_client/src/components/panels/query-analysis-card.tsx
  orchestratai_client/src/components/panels/retrieval-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend, backend, documentation

docs(readme-cleanup): clean up main README and add comprehensive badges
  README.md
  docs/CI_CD_GUIDE.md
  orchestratai_client/README.md
Labels: frontend, documentation

chore(clean-up-docs): remove debug console logs for production readiness
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend

docs(readme-cleanup): clean up main README and add comprehensive badges
  README.md
  docs/CI_CD_GUIDE.md
  orchestratai_client/README.md
Labels: frontend, documentation

chore(clean-up-docs): remove debug console logs for production readiness
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-streaming.ts
Labels: frontend

chore(1.1.setup-dependencies): align shadcn review artifacts
  docs/qa/gates/1.1-setup-dependencies.yml
  docs/stories/1.1.setup-dependencies.story.md
  orchestratai_client/components.json
Labels: frontend, documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
