Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

feat(2.8-ui-error-handling): implement optimistic UI updates and error handling
  bun.lock
  docs/stories/2.8.optimistic-ui-error-handling.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/layout.tsx
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/chat/chat-error-boundary.tsx
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/components/ui/sonner.tsx
  orchestratai_client/src/lib/utils/error-messages.ts
Labels: frontend, documentation, tests, dependencies

WIP on 1.8-collaps-panels
  orchestratai_client/src/app/globals.css
Labels: frontend

docs(2.8-ui-error-handling): add comprehensive QA review results
  docs/qa/gates/2.8-optimistic-ui-error-handling.yml
  docs/stories/2.8.optimistic-ui-error-handling.story.md
Labels: documentation

style(2.8-ui-error-handling): improve mobile layout and tabs styling
  docs/stories/1.6.install-shadcn-ui-components.story.md
  docs/stories/2.8.optimistic-ui-error-handling.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/ui/tabs.tsx
Labels: frontend, documentation

style(2.8-ui-error-handling): apply prettier formatting to design tokens
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/spacing.css
Labels: frontend

style(2.8-ui-error-handling): apply prettier formatting to design tokens
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/spacing.css
Labels: frontend

docs(2.8-ui-error-handling): add comprehensive QA review results
  docs/qa/gates/2.8-optimistic-ui-error-handling.yml
  docs/stories/2.8.optimistic-ui-error-handling.story.md
Labels: documentation

WIP on 1.8-collaps-panels
  orchestratai_client/src/app/globals.css
Labels: frontend

feat(2.8-ui-error-handling): implement optimistic UI updates and error handling
  bun.lock
  docs/stories/2.8.optimistic-ui-error-handling.story.md
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/layout.tsx
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/components/chat/__tests__/chat-interface-integration.test.tsx
  orchestratai_client/src/components/chat/chat-error-boundary.tsx
  orchestratai_client/src/components/chat/chat-interface.tsx
  orchestratai_client/src/components/providers/__tests__/chat-provider.test.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/components/ui/sonner.tsx
  orchestratai_client/src/lib/utils/error-messages.ts
Labels: frontend, documentation, tests, dependencies

style(2.8-ui-error-handling): improve mobile layout and tabs styling
  docs/stories/1.6.install-shadcn-ui-components.story.md
  docs/stories/2.8.optimistic-ui-error-handling.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/page.tsx
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/components/layout/footer.tsx
  orchestratai_client/src/components/layout/header.tsx
  orchestratai_client/src/components/layout/mobile-layout.tsx
  orchestratai_client/src/components/ui/tabs.tsx
Labels: frontend, documentation

docs(epic-3-stories-drafts): create all 7 user stories for agent and log panels
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
  docs/stories/3.3.build-agent-card-status-badges.story.md
  docs/stories/3.4.implement-agent-metrics-display.story.md
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
  docs/stories/3.6.build-log-entry-components.story.md
  docs/stories/3.7.implement-document-modal.story.md
Labels: documentation

docs(epic-3-stories-drafts): update source-tree.md with complete Epic 2 structure
  docs/architecture/source-tree.md
Labels: documentation

docs(epic-3-stories-drafts): update source-tree.md with complete Epic 2 structure
  docs/architecture/source-tree.md
Labels: documentation

docs(epic-3-stories-drafts): create all 7 user stories for agent and log panels
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
  docs/stories/3.3.build-agent-card-status-badges.story.md
  docs/stories/3.4.implement-agent-metrics-display.story.md
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
  docs/stories/3.6.build-log-entry-components.story.md
  docs/stories/3.7.implement-document-modal.story.md
Labels: documentation

feat(3.1-extend-chat-resp): extend ChatResponse with agent status and retrieval schemas
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  orchestratai_api/src/models/enums.py
  orchestratai_api/src/models/schemas.py
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_new_schemas.py
  orchestratai_api/tests/test_schemas.py
  orchestratai_client/src/lib/enums.ts
Labels: frontend, backend, documentation, tests

test(3.1-extend-chat-resp): update AgentStatus enum test for COMPLETE state
  orchestratai_api/tests/test_enums.py
Labels: backend, tests

test(3.1-extend-chat-resp): add QA review and refactor test imports
  docs/qa/gates/3.1-extend-chatresponse-agent-status-logs.yml
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  orchestratai_api/tests/test_new_schemas.py
Labels: backend, documentation, tests

feat(3.1-extend-chat-resp): extend ChatResponse with agent status and retrieval schemas
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  orchestratai_api/src/models/enums.py
  orchestratai_api/src/models/schemas.py
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_new_schemas.py
  orchestratai_api/tests/test_schemas.py
  orchestratai_client/src/lib/enums.ts
Labels: frontend, backend, documentation, tests

test(3.1-extend-chat-resp): add QA review and refactor test imports
  docs/qa/gates/3.1-extend-chatresponse-agent-status-logs.yml
  docs/stories/3.1.extend-chatresponse-agent-status-logs.story.md
  orchestratai_api/tests/test_new_schemas.py
Labels: backend, documentation, tests

test(3.1-extend-chat-resp): update AgentStatus enum test for COMPLETE state
  orchestratai_api/tests/test_enums.py
Labels: backend, tests

feat(3.2-enhance-mock): implement realistic agent metrics and retrieval logs
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, documentation, tests

test(3.2-enhance-mock): add QA review and quality gate for story 3.2
  docs/qa/gates/3.2-enhance-mock-service.yml
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
Labels: documentation

feat(3.2-enhance-mock): implement realistic agent metrics and retrieval logs
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
  orchestratai_api/src/services/mock_data.py
  orchestratai_api/tests/test_mock_data.py
Labels: backend, documentation, tests

test(3.2-enhance-mock): add QA review and quality gate for story 3.2
  docs/qa/gates/3.2-enhance-mock-service.yml
  docs/stories/3.2.enhance-mock-service-agent-metrics-logs.story.md
Labels: documentation

feat(3.3-agent-card-status): implement AgentCard with status badges and color coding
  docs/stories/3.3.build-agent-card-status-badges.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, documentation, tests

test(3.3-agent-card-status): add QA review and quality gate for story 3.3
  docs/qa/gates/3.3-build-agent-card-status-badges.yml
  docs/stories/3.3.build-agent-card-status-badges.story.md
Labels: documentation

test(3.3-agent-card-status): add QA review and quality gate for story 3.3
  docs/qa/gates/3.3-build-agent-card-status-badges.yml
  docs/stories/3.3.build-agent-card-status-badges.story.md
Labels: documentation

feat(3.3-agent-card-status): implement AgentCard with status badges and color coding
  docs/stories/3.3.build-agent-card-status-badges.story.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/panels/agent-status-badge.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-status-badge.test.tsx
Labels: frontend, documentation, tests

feat(3.4-agent-matrix): implement agent metrics display with tokens, cost, and latency
  docs/stories/3.4.implement-agent-metrics-display.story.md
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/src/lib/utils/format-metrics.ts
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-metrics.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/lib/schemas.test.ts
  orchestratai_client/tests/unit/lib/types.test.ts
  orchestratai_client/tests/unit/lib/utils/format-metrics.test.ts
Labels: frontend, documentation, tests

test(3.4-agent-matrix): add comprehensive QA test suite for agent metrics
  docs/qa/gates/3.4-implement-agent-metrics-display.yml
  docs/stories/3.4.implement-agent-metrics-display.story.md
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, documentation, tests

refactor(3.4-agent-matrix): replace hardcoded cache icon colors with semantic design tokens
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-metrics.test.tsx
Labels: frontend, tests

feat(3.4-agent-matrix): implement agent metrics display with tokens, cost, and latency
  docs/stories/3.4.implement-agent-metrics-display.story.md
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/src/lib/utils/format-metrics.ts
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-metrics.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/lib/schemas.test.ts
  orchestratai_client/tests/unit/lib/types.test.ts
  orchestratai_client/tests/unit/lib/utils/format-metrics.test.ts
Labels: frontend, documentation, tests

refactor(3.4-agent-matrix): replace hardcoded cache icon colors with semantic design tokens
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/components/panels/agent-metrics.tsx
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-metrics.test.tsx
Labels: frontend, tests

test(3.4-agent-matrix): add comprehensive QA test suite for agent metrics
  docs/qa/gates/3.4-implement-agent-metrics-display.yml
  docs/stories/3.4.implement-agent-metrics-display.story.md
  orchestratai_client/tests/integration/metrics-accumulation.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-card.test.tsx
Labels: frontend, documentation, tests

feat(3.5-connect-agent-pannel): connect agent panel to ChatProvider state
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-chat-agents.ts
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
Labels: frontend, documentation, tests

docs(3.5-connect-agent-pannel): add comprehensive QA review and quality gate
  docs/qa/gates/3.5-connect-agent-panel-chatprovider.yml
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
Labels: documentation

refactor(3.5-connect-agent-pannel): improve robustness and code quality
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
Labels: frontend, tests

feat(3.5-connect-agent-pannel): connect agent panel to ChatProvider state
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
  orchestratai_client/src/components/panels/agent-card.tsx
  orchestratai_client/src/components/panels/agent-panel.tsx
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/src/hooks/use-chat-agents.ts
  orchestratai_client/src/lib/api/__tests__/chat.test.ts
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/tests/integration/agent-panel-updates.test.tsx
  orchestratai_client/tests/unit/components/panels/agent-panel.test.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
Labels: frontend, documentation, tests

refactor(3.5-connect-agent-pannel): improve robustness and code quality
  orchestratai_client/src/components/providers/chat-provider.tsx
  orchestratai_client/tests/unit/components/providers/chat-provider-agents.test.tsx
Labels: frontend, tests

docs(3.5-connect-agent-pannel): add comprehensive QA review and quality gate
  docs/qa/gates/3.5-connect-agent-panel-chatprovider.yml
  docs/stories/3.5.connect-agent-panel-chatprovider.story.md
Labels: documentation

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'
