Repository mario-digital/OrchestratAI, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, tests, ci, dependencies, configuration

.github/labeler.yml:

# Auto-labeling configuration for pull requests

frontend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_client/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file: 'orchestratai_api/**/*'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**/*'
      - '**/*.md'
      - 'README.md'
      - 'CONTRIBUTING.md'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/**/*.test.{ts,tsx}'
      - 'orchestratai_client/**/*.spec.{ts,tsx}'
      - 'orchestratai_client/e2e/**/*'
      - 'orchestratai_api/tests/**/*'

ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/dependabot.yml'
      - '.husky/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'orchestratai_client/package.json'
      - 'orchestratai_client/bun.lockb'
      - 'orchestratai_api/pyproject.toml'
      - 'orchestratai_api/uv.lock'
      - 'package.json'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.config.{js,ts,mjs,cjs}'
      - '**/tsconfig.json'
      - '**/.eslintrc*'
      - '**/.prettierrc*'
      - '**/pytest.ini'
      - '**/mypy.ini'

feat: add docker compose setup for development and production
  .dockerignore
  docker-compose.prod.yml
  docker-compose.yml
  orchestratai_client/Dockerfile
  orchestratai_client/Dockerfile.dev
Labels: frontend

fix: create packages directory for monorepo workspace
  orchestratai_client/Dockerfile.dev
  packages/README.md
Labels: frontend, documentation

docs(docker-setup): add project description and docker instructions
  README.md
  orchestratai_client/eslint.config.mjs
Labels: frontend, documentation, configuration

feat: add docker compose setup for development and production
  .dockerignore
  docker-compose.prod.yml
  docker-compose.yml
  orchestratai_client/Dockerfile
  orchestratai_client/Dockerfile.dev
Labels: frontend

fix: create packages directory for monorepo workspace
  orchestratai_client/Dockerfile.dev
  packages/README.md
Labels: frontend, documentation

docs(docker-setup): add project description and docker instructions
  README.md
  orchestratai_client/eslint.config.mjs
Labels: frontend, documentation, configuration

docs(docs-setup): add comprehensive project documentation
  docs/architecture.md
  docs/coding-standards.md
  docs/prd/orchestratai_prd_v2.md
  scripts/validate-enums.ts
Labels: documentation

docs(docs-setup): shard architecture document into modular sections
  docs/architecture/1-introduction.md
  docs/architecture/10-backend-architecture.md
  docs/architecture/11-unified-project-structure.md
  docs/architecture/12-development-workflow.md
  docs/architecture/13-deployment-architecture.md
  docs/architecture/14-security-and-performance.md
  docs/architecture/15-testing-strategy.md
  docs/architecture/16-coding-standards.md
  docs/architecture/17-error-handling-strategy.md
  docs/architecture/18-monitoring-and-observability.md
  docs/architecture/2-high-level-architecture.md
  docs/architecture/3-tech-stack.md
  docs/architecture/4-data-models.md
  docs/architecture/5-api-specification.md
  docs/architecture/6-components.md
  docs/architecture/7-core-workflows.md
  docs/architecture/8-database-schema.md
  docs/architecture/9-frontend-architecture.md
  docs/architecture/change-log.md
  docs/architecture/coding-standards.md
  docs/architecture/document-complete.md
  docs/architecture/index.md
  docs/architecture/source-tree.md
  docs/architecture/table-of-contents.md
Labels: documentation

docs(docs-setup): add epic stories and design token system
  docs/stories/1.1.setup-dependencies.story.md
  docs/stories/README.md
  docs/stories/epic-1-foundation-design-system.md
  docs/stories/epic-2-chat-interface.md
  docs/stories/epic-3-agent-log-panels.md
  docs/stories/epic-4-mobile-realtime.md
  docs/stories/epic-5-polish-enhancement.md
  docs/stories/epic-6-documentation-deployment.md
  docs/ux-design-tokens/component-styling-guide.md
  docs/ux-design-tokens/css-tokens-usage.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/colors.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/app/styles/tokens/typography.css
Labels: frontend, documentation

docs(docs-setup): shard architecture document into modular sections
  docs/architecture/1-introduction.md
  docs/architecture/10-backend-architecture.md
  docs/architecture/11-unified-project-structure.md
  docs/architecture/12-development-workflow.md
  docs/architecture/13-deployment-architecture.md
  docs/architecture/14-security-and-performance.md
  docs/architecture/15-testing-strategy.md
  docs/architecture/16-coding-standards.md
  docs/architecture/17-error-handling-strategy.md
  docs/architecture/18-monitoring-and-observability.md
  docs/architecture/2-high-level-architecture.md
  docs/architecture/3-tech-stack.md
  docs/architecture/4-data-models.md
  docs/architecture/5-api-specification.md
  docs/architecture/6-components.md
  docs/architecture/7-core-workflows.md
  docs/architecture/8-database-schema.md
  docs/architecture/9-frontend-architecture.md
  docs/architecture/change-log.md
  docs/architecture/coding-standards.md
  docs/architecture/document-complete.md
  docs/architecture/index.md
  docs/architecture/source-tree.md
  docs/architecture/table-of-contents.md
Labels: documentation

docs(docs-setup): add comprehensive project documentation
  docs/architecture.md
  docs/coding-standards.md
  docs/prd/orchestratai_prd_v2.md
  scripts/validate-enums.ts
Labels: documentation

docs(docs-setup): add epic stories and design token system
  docs/stories/1.1.setup-dependencies.story.md
  docs/stories/README.md
  docs/stories/epic-1-foundation-design-system.md
  docs/stories/epic-2-chat-interface.md
  docs/stories/epic-3-agent-log-panels.md
  docs/stories/epic-4-mobile-realtime.md
  docs/stories/epic-5-polish-enhancement.md
  docs/stories/epic-6-documentation-deployment.md
  docs/ux-design-tokens/component-styling-guide.md
  docs/ux-design-tokens/css-tokens-usage.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/colors.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/app/styles/tokens/typography.css
Labels: frontend, documentation

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Labels: ci

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Labels: ci

ci(1.1-setup-dep): update Claude workflows and disable main workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci

feat(1.1-setup-dep): add shadcn design token mappings and layout tokens
  docs/ux-design-tokens/shadcn-migration-quick-reference.md
  docs/ux-design-tokens/shadcn-ui-token-mappings.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/app/styles/tokens/spacing.css
Labels: frontend, documentation

feat(1.1-setup-dep): add opacity tokens and story completion summary
  docs/ux-design-tokens/story-1-1-completion-summary.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/opacity.css
Labels: frontend, documentation

feat(1.1-setup-dep): complete shadcn/ui setup with design token migration
  bun.lock
  docs/stories/1.1.setup-dependencies.story.md
  orchestratai_client/components.json
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/app/styles/tokens/opacity.css
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/app/styles/tokens/typography.css
  orchestratai_client/src/components/ui/badge.tsx
  orchestratai_client/src/components/ui/button.tsx
  orchestratai_client/src/components/ui/card.tsx
  orchestratai_client/src/components/ui/collapsible.tsx
  orchestratai_client/src/components/ui/input.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
  orchestratai_client/src/components/ui/separator.tsx
  orchestratai_client/src/lib/utils.ts
  package.json
Labels: frontend, documentation, dependencies

qa(1.1-setup-dep): complete comprehensive quality review for Story 1.1
  docs/qa/gates/1.1-setup-dependencies.yml
  docs/stories/1.1.setup-dependencies.story.md
Labels: documentation

feat(1.1-setup-dep): complete shadcn/ui setup with design token migration
  bun.lock
  docs/stories/1.1.setup-dependencies.story.md
  orchestratai_client/components.json
  orchestratai_client/package.json
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/app/styles/tokens/opacity.css
  orchestratai_client/src/app/styles/tokens/spacing.css
  orchestratai_client/src/app/styles/tokens/typography.css
  orchestratai_client/src/components/ui/badge.tsx
  orchestratai_client/src/components/ui/button.tsx
  orchestratai_client/src/components/ui/card.tsx
  orchestratai_client/src/components/ui/collapsible.tsx
  orchestratai_client/src/components/ui/input.tsx
  orchestratai_client/src/components/ui/scroll-area.tsx
  orchestratai_client/src/components/ui/separator.tsx
  orchestratai_client/src/lib/utils.ts
  package.json
Labels: frontend, documentation, dependencies

qa(1.1-setup-dep): complete comprehensive quality review for Story 1.1
  docs/qa/gates/1.1-setup-dependencies.yml
  docs/stories/1.1.setup-dependencies.story.md
Labels: documentation

ci(1.1-setup-dep): update Claude workflows and disable main workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Labels: ci

feat(1.1-setup-dep): add shadcn design token mappings and layout tokens
  docs/ux-design-tokens/shadcn-migration-quick-reference.md
  docs/ux-design-tokens/shadcn-ui-token-mappings.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/animation.css
  orchestratai_client/src/app/styles/tokens/effects.css
  orchestratai_client/src/app/styles/tokens/layout.css
  orchestratai_client/src/app/styles/tokens/spacing.css
Labels: frontend, documentation

feat(1.1-setup-dep): add opacity tokens and story completion summary
  docs/ux-design-tokens/story-1-1-completion-summary.md
  orchestratai_client/src/app/globals.css
  orchestratai_client/src/app/styles/tokens/opacity.css
Labels: frontend, documentation

qa(1.2-token-structure): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.2-create-token-file-structure.yml
  docs/stories/1.2.create-token-file-structure.story.md
Labels: documentation

qa(1.2-token-structure): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.2-create-token-file-structure.yml
  docs/stories/1.2.create-token-file-structure.story.md
Labels: documentation

docs(1.3-tp-en-zod): complete Epic 1 story creation (Stories 1.3-1.10)
  docs/stories/1.10.create-mobile-responsive-layout.story.md
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
  docs/stories/1.5.create-enum-validation-script.story.md
  docs/stories/1.6.install-shadcn-ui-components.story.md
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  docs/stories/1.9.create-header-footer-components.story.md
Labels: documentation

feat(1.3-tp-en-zod): implement TypeScript enums and Zod validation schemas
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
  orchestratai_client/src/lib/enums.ts
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/src/lib/types.ts
Labels: frontend, documentation

qa(1.3-tp-en-zod): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.3-create-typescript-enums-zod-schemas.yml
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
Labels: documentation

qa(1.3-tp-en-zod): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.3-create-typescript-enums-zod-schemas.yml
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
Labels: documentation

feat(1.3-tp-en-zod): implement TypeScript enums and Zod validation schemas
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
  orchestratai_client/src/lib/enums.ts
  orchestratai_client/src/lib/schemas.ts
  orchestratai_client/src/lib/types.ts
Labels: frontend, documentation

docs(1.3-tp-en-zod): complete Epic 1 story creation (Stories 1.3-1.10)
  docs/stories/1.10.create-mobile-responsive-layout.story.md
  docs/stories/1.3.create-typescript-enums-zod-schemas.story.md
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
  docs/stories/1.5.create-enum-validation-script.story.md
  docs/stories/1.6.install-shadcn-ui-components.story.md
  docs/stories/1.7.create-desktop-three-panel-layout.story.md
  docs/stories/1.8.implement-collapsible-panel-functionality.story.md
  docs/stories/1.9.create-header-footer-components.story.md
Labels: documentation

feat(1.4-python-enums): implement Python enums and Pydantic schemas
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
  orchestratai_api/src/models/__init__.py
  orchestratai_api/src/models/enums.py
  orchestratai_api/src/models/schemas.py
Labels: backend, documentation

qa(1.4-python-enums): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.4-python-enums-pydantic-schemas.yml
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
Labels: documentation

qa(1.4-python-enums): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.4-python-enums-pydantic-schemas.yml
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
Labels: documentation

feat(1.4-python-enums): implement Python enums and Pydantic schemas
  docs/stories/1.4.create-python-enums-pydantic-schemas.story.md
  orchestratai_api/src/models/__init__.py
  orchestratai_api/src/models/enums.py
  orchestratai_api/src/models/schemas.py
Labels: backend, documentation

feat(1.5-enum-validation): integrate enum synchronization validation
  .github/workflows/validate-enums.yml
  .husky/pre-commit
  docs/stories/1.5.create-enum-validation-script.story.md
  package.json
Labels: documentation, ci, dependencies

qa(1.5-enum-validation): complete comprehensive QA review with PASS gate
  docs/qa/gates/1.5-enum-validation.yml
  docs/stories/1.5.create-enum-validation-script.story.md
Labels: documentation
